@font-face {
  font-family: "Garet-Bold";
  src: local("Garet-Bold"), url("../fonts/Garet-Bold") format("opentype"); }
@font-face {
  font-family: "Garet-Regular";
  src: local("Garet-Regular"), url(../fonts/Garet-Regular.otf) format("opentype"); }
@font-face {
  font-family: "LumiosMarket";
  src: local("LumiosMarket"), url(../fonts/LumiosMarker.otf) format("opentype"); }
body {
  font-family: "Garet-Regular", sans-serif;
  overflow-x: hidden;
  background-color: #D9D9D9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3 {
  font-family: "Garet-Bold", sans-serif;
  color: #000000; }

h4,
h5,
h6 {
  font-family: "Garet-Regular", sans-serif;
  color: #000000; }

p {
  font-family: "Garet-Regular", sans-serif;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 1.5rem; }

a {
  font-family: "LumiosMarket";
  background-color: #000;
  color: #D9D9D9;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  border-radius: 5px; }
  a:hover {
    color: #cfcfcf; }

ul {
  list-style: none; }

.bg-primary {
  background-color: #2EB1FF !important;
  color: #e8e8e8; }

@media (max-width: 768px) {
  a {
    padding: 8px 16px;
    font-size: 0.9rem; } }
.bg-nav {
  background-color: rgba(217, 217, 217, 0.8); }

.img-nav {
  height: 100px;
  background-color: none !important; }

.nav-link {
  font-size: x-large;
  color: #2EB1FF !important;
  margin-left: 13rem;
  text-shadow: 1px 1px 1px white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent !important; }

.menuShow {
  border-color: transparent !important;
  border: none !important;
  background-image: url("../images/open.png") !important;
  -webkit-animation: menu-show 0.5s ease 0s 1 !important;
  animation: menu-show 0.5s ease 0s 1 !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important; }

@keyframes menu-show {
  to {
    background-image: url("../images/open.png") !important;
    opacity: 1; }
  from {
    background-image: url("../images/close.png") !important;
    opacity: 0; } }
@-webkit-keyframes menu-show {
  to {
    background-image: url("../images/open.png") !important;
    opacity: 1; }
  from {
    background-image: url("../images/close.png") !important;
    opacity: 0; } }
.menuHide {
  border-color: transparent !important;
  border: none !important;
  background-image: url("../images/close.png") !important;
  -webkit-animation: menu-hide 0.5s ease 0s 1 !important;
  animation: menu-hide 0.5s ease 0s 1 !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important; }

@keyframes menu-hide {
  to {
    background-image: url("../images/close.png") !important;
    opacity: 1; }
  from {
    background-image: url("../images/open.png") !important;
    opacity: 0; } }
@-webkit-keyframes menu-hide {
  to {
    background-image: url("../images/close.png") !important;
    opacity: 1; }
  from {
    background-image: url("../images/open.png") !important;
    opacity: 0; } }
.navbar-brand {
  background-color: transparent !important; }

.navbar-nav {
  margin: auto;
  padding: 0; }

.navbar-light .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
  border: none !important;
  z-index: 9999; }

.navbar-toggler:focus {
  border-color: transparent !important;
  border: none !important;
  -webkit-box-shadow: transparent !important;
          box-shadow: transparent !important; }

.showNav {
  -webkit-animation: collapser-show 0.5s ease-in-out 0s 1;
  animation: collapser-show 0.5s ease-in-out 0s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes collapser-show {
  to {
    height: 0%; }
  from {
    height: 100%; } }
@-webkit-keyframes collapser-show {
  to {
    height: 0%; }
  from {
    height: 100%; } }
.hideNav {
  -webkit-animation: collapser-hide 0.5s ease 0s 1 normal;
  animation: collapser-hide 0.5s ease 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px); }

@keyframes collapser-hide {
  to {
    height: 100%; }
  from {
    height: 0%; } }
@-webkit-keyframes collapser-hide {
  to {
    height: 100%; }
  from {
    height: 0%; } }
@media (max-width: 768px) {
  .nav-link {
    font-size: large;
    margin-left: 1rem;
    padding: 0.3rem 1rem; }

  .img-nav {
    height: 60px; }

  .navbar-nav {
    margin: 100% 0 0 0;
    padding: 0; } }
#render-div {
  text-align: center; }
  #render-div .render-box {
    padding: 10px 5px; }
  #render-div a {
    display: inline-block;
    padding: 0 5px; }

#hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #hero .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1; }
  #hero .hero-content {
    z-index: 1;
    max-width: 800px;
    padding: 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); }
    #hero .hero-content h1 {
      font-size: 3rem;
      margin-bottom: 20px;
      color: #2EB1FF;
      text-align: left; }
    #hero .hero-content p {
      font-size: 1.2rem;
      color: #000000; }
    #hero .hero-content a {
      display: inline-block;
      margin-top: 5px;
      padding: 10px 20px; }
    @media (max-width: 768px) {
      #hero .hero-content h1 {
        font-size: 2rem;
        margin-bottom: 5px; }
      #hero .hero-content p {
        font-size: 1rem; } }

#about-div {
  background-color: #fff;
  padding: 50px 0 0 25px; }

#products-div {
  background-color: #D9D9D9;
  padding: 50px 0 0 25px; }
  #products-div i {
    color: #02b5ff; }
  #products-div ul {
    padding: 0; }
  #products-div h3 {
    text-align: center; }
  #products-div button {
    background-color: #2EB1FF; }
  #products-div strong {
    color: #2EB1FF; }

#cta1-div {
  background-color: #fff;
  padding: 150px 0; }
  #cta1-div a {
    background-color: #2EB1FF;
    color: #e8e8e8;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
    #cta1-div a:hover {
      background-color: #009dfa; }

#advantages-div {
  background-color: #D9D9D9;
  padding: 50px 0 0 25px; }

#clients-div {
  background-color: #fff;
  padding: 50px 0 0 25px; }

#cta2-div {
  background-color: #fff;
  padding: 0 0 100px 25px; }
  #cta2-div a {
    background-color: #2EB1FF;
    color: #e8e8e8;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
    #cta2-div a:hover {
      background-color: #009dfa; }
  #cta2-div h5 {
    color: #2EB1FF; }

#testimonials-div {
  background-color: #D9D9D9;
  padding: 50px 0 0 25px; }

/*# sourceMappingURL=style.css.map */