@font-face {
  font-family: "Garet-Heavy";
  src: local("Garet-Heavy"), url("../fonts/Garet-Heavy.otf") format("opentype"); }
@font-face {
  font-family: "Garet-Book";
  src: local("Garet-Book"), url(../fonts/Garet-Book.otf) format("opentype"); }
@font-face {
  font-family: "LumiosMarket";
  src: local("LumiosMarket"), url(../fonts/LumiosMarker.otf) format("opentype"); }
body {
  font-family: "Garet-Book", sans-serif;
  overflow-x: hidden;
  background-color: #d9d9d9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3 {
  font-family: "Garet-Heavy", sans-serif;
  color: #000000; }

h4,
h5,
h6 {
  font-family: "Garet-Book", sans-serif;
  color: #000000; }

p {
  font-family: "Garet-Book", sans-serif;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 1.5rem; }

a {
  font-family: "Garet-Book", sans-serif;
  background-color: #2eb1ff;
  color: #d9d9d9;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  border-radius: 5px; }
  a:hover {
    color: #cfcfcf;
    transform: scale(1.05); }

ul {
  list-style: none; }

.bg-primary {
  background-color: #000 !important;
  color: #e8e8e8; }

@media (max-width: 768px) {
  a {
    padding: 8px 16px;
    font-size: 0.9rem; } }
.bg-nav {
  background-color: rgba(217, 217, 217, 0.8); }

.img-nav {
  height: 100px;
  background-color: none !important; }

.nav-link {
  font-size: x-large;
  font-family: "Garet-Heavy", sans-serif;
  color: #2eb1ff !important;
  margin-left: 13rem;
  text-shadow: 1px 1px 1px white;
  width: fit-content;
  background-color: transparent !important; }

.menuShow {
  border-color: transparent !important;
  border: none !important;
  background-image: url("../images/open.png") !important;
  -webkit-animation: menu-show 0.5s ease 0s 1 !important;
  animation: menu-show 0.5s ease 0s 1 !important;
  animation-fill-mode: forwards !important; }

@keyframes menu-show {
  to {
    background-image: url("../images/open.png") !important;
    opacity: 1; }
  from {
    background-image: url("../images/close.png") !important;
    opacity: 0; } }
@-webkit-keyframes menu-show {
  to {
    background-image: url("../images/open.png") !important;
    opacity: 1; }
  from {
    background-image: url("../images/close.png") !important;
    opacity: 0; } }
.menuHide {
  border-color: transparent !important;
  border: none !important;
  background-image: url("../images/close.png") !important;
  -webkit-animation: menu-hide 0.5s ease 0s 1 !important;
  animation: menu-hide 0.5s ease 0s 1 !important;
  animation-fill-mode: forwards !important; }

@keyframes menu-hide {
  to {
    background-image: url("../images/close.png") !important;
    opacity: 1; }
  from {
    background-image: url("../images/open.png") !important;
    opacity: 0; } }
@-webkit-keyframes menu-hide {
  to {
    background-image: url("../images/close.png") !important;
    opacity: 1; }
  from {
    background-image: url("../images/open.png") !important;
    opacity: 0; } }
.navbar-brand {
  background-color: transparent !important; }

.navbar-nav {
  margin: auto;
  padding: 0; }

.navbar-light .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
  border: none !important;
  z-index: 9999; }

.navbar-toggler:focus {
  border-color: transparent !important;
  border: none !important;
  box-shadow: transparent !important; }

.showNav {
  -webkit-animation: collapser-show 0.5s ease-in-out 0s 1;
  animation: collapser-show 0.5s ease-in-out 0s 1;
  animation-fill-mode: forwards; }

@keyframes collapser-show {
  to {
    height: 0%; }
  from {
    height: 100%; } }
@-webkit-keyframes collapser-show {
  to {
    height: 0%; }
  from {
    height: 100%; } }
.hideNav {
  -webkit-animation: collapser-hide 0.5s ease 0s 1 normal;
  animation: collapser-hide 0.5s ease 0s 1 normal;
  animation-fill-mode: forwards;
  backdrop-filter: saturate(180%) blur(20px); }

@keyframes collapser-hide {
  to {
    height: 100%; }
  from {
    height: 0%; } }
@-webkit-keyframes collapser-hide {
  to {
    height: 100%; }
  from {
    height: 0%; } }
@media (max-width: 768px) {
  .nav-link {
    font-size: large;
    margin-left: 1rem;
    padding: 0.3rem 1rem; }

  .img-nav {
    height: 60px; }

  .navbar-nav {
    margin: 100% 0 0 0;
    padding: 0; } }
#render-div {
  text-align: center; }
  #render-div .render-box {
    padding: 10px 5px; }
  #render-div a {
    display: inline-block;
    padding: 0 5px; }

#hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  #hero .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; }
  #hero .hero-content {
    z-index: 1;
    max-width: 800px;
    padding: 50px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 90px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); }
    #hero .hero-content h1 {
      font-size: 3rem;
      margin-bottom: 20px;
      color: #000000;
      text-align: center; }
    #hero .hero-content p {
      font-size: 1.2rem;
      color: #000000; }
    #hero .hero-content a {
      display: inline-block;
      margin-top: 5px;
      padding: 10px 20px; }
  @media only screen and (max-width: 768px) {
    #hero .hero-content {
      padding: 20px;
      width: 80%;
      background-color: transparent;
      box-shadow: none; }
      #hero .hero-content h1 {
        font-size: 1.5rem;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); }
      #hero .hero-content p {
        font-size: 1rem; } }

#about-div {
  background-color: #fff;
  padding: 50px 0 0 25px; }

#products-div {
  background-color: #d9d9d9;
  padding: 50px 0 0 25px; }
  #products-div i {
    color: #02b5ff; }
  #products-div ul {
    padding: 0; }
  #products-div h3 {
    text-align: center; }
  #products-div button {
    background-color: #2eb1ff; }
  #products-div strong {
    color: #2eb1ff; }

#cta1-div {
  padding: 150px 0;
  background-image: url("../images/cta.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #cta1-div a {
    background-color: #2eb1ff;
    color: #e8e8e8;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease; }
    #cta1-div a:hover {
      background-color: #009dfa;
      transform: scale(1.05); }

#advantages-div {
  background-color: #d9d9d9;
  padding: 50px 0 0 25px; }

#clients-div {
  background-color: #fff;
  padding: 50px 0 0 25px; }

#cta2-div {
  padding: 150px 0;
  background-image: url("../images/cta.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #cta2-div a {
    background-color: #2eb1ff;
    color: #e8e8e8;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease; }
    #cta2-div a:hover {
      background-color: #009dfa; }
  #cta2-div h5 {
    color: #2eb1ff; }

#testimonials-div {
  background-color: #d9d9d9;
  padding: 50px 0 0 25px; }
  #testimonials-div h3 {
    color: #2eb1ff; }
  #testimonials-div .square {
    border-radius: 90px;
    height: 425px;
    background-image: url("../images/cta.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); }
  #testimonials-div .carousel-indicators [data-bs-target] {
    background-color: #2eb1ff; }
  @media only screen and (max-width: 768px) {
    #testimonials-div .testimonios {
      height: auto; }
    #testimonials-div h4 {
      font-size: 0.9rem; } }

#footer-div {
  background-color: #000;
  padding: 50px 0 50px 0; }
  #footer-div a {
    color: #e8e8e8;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-top: 5px;
    padding: 10px 20px; }
    #footer-div a:hover {
      color: #cfcfcf;
      transform: scale(1.05); }
  #footer-div h3 {
    color: #e8e8e8; }
  @media only screen and (max-width: 768px) {
    #footer-div h3 {
      font-size: 0.9rem; } }

#floating-div {
  position: fixed;
  right: 2%;
  bottom: 25%;
  z-index: 9999; }
  #floating-div .div-flotante {
    box-shadow: rgba(22, 22, 26, 0.18) 2px 6px 8px 0px;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out; }
  #floating-div .whatsapp {
    background-color: #28d146; }
  #floating-div .facebook {
    background-color: #3b5998; }
  #floating-div .instagram {
    background-color: #e1306c; }
  #floating-div .delivery {
    background-color: #2eb1ff; }
  #floating-div .div-flotante:hover {
    transform: scale(1.1); }
  #floating-div a {
    color: none !important;
    background-color: transparent !important; }
  @media only screen and (max-width: 768px) {
    #floating-div {
      right: 5%; } }

/*# sourceMappingURL=style.css.map */
